/* GLOBAL ************************************************\
Site-wide rules specific to this project, such as font
families and sizes, etc.
\*********************************************************/


/* Default Colors */

html { background-color: rgb($colorBGAlt); }

body {
  background-color: rgb($colorBGMain);
  color: rgb($colorText);
}

a { color: rgb($colorLinkMd); }
a:visited { color: rgb($colorLinkMd);}
a:hover,
a:active { color: rgb($colorLinkHi); }


/* Responsive design styles */

html { font-size: 12px; }

@mixin mqSm {
  html { font-size: 14px; }
}

@mixin mqMd {
  html { font-size: 16px; }
}

@mixin mqLg {
  html { font-size: 19px; }
}
