/* GLOBAL ************************************************\
Site-wide rules specific to this project, such as font
families and sizes, etc.
\*********************************************************/


/* Default Colors */

html { background-color: rgb($colorBGAlt); }

body {
  background-color: rgb($colorBGMain);
  color: rgb($colorText);

  & a { color: rgb($colorLinkMd); }
  & a:visited { color: rgb($colorLinkLo);}
  & a:hover,
  & a:active { color: rgb($colorLinkHi); }
}


/* Responsive design styles */

html { font-size: 12px; }

.container {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
}

@mixin mqSm {
  html { font-size: 14px; }
  .container {
    width: 680px;
    max-width: 680px;
  }
}

@mixin mqMd {
  html { font-size: 16px; }
  .container {
    width: 960px;
    max-width: 960px;
  }
}

@mixin mqLg {
  html { font-size: 19px; }
  .container {
    width: 1200px;
    max-width: 1200px;
  }
}
