/* VARIABLES *********************************************\
Variables such as colors, font-families, etc.
\*********************************************************/

/* Colors */

$colorText:   rgb( 48, 48, 48);
$colorBGMain: rgb(248,248,248);
$colorBGAlt:  rgb(204,204,204);
$colorBGOpp:  rgb( 18, 18, 18);

$colorThemeHi:  rgb( 81, 94,255);
$colorThemeMd:  rgb( 52, 60,163);
$colorThemeLo:  rgb( 41, 47,127);

$colorAltHi:  rgb(255, 63, 71);
$colorAltMd:  rgb(173, 43, 48);
$colorAltLo:  rgb(127, 32, 35);

$colorLinkHi: rgb( 32,204,124);
$colorLinkMd: rgb( 18,115, 70);
$colorLinkLo: rgb( 10, 64, 39);