/* VARIABLES *********************************************\
Variables such as colors, font-families, etc.
\*********************************************************/

/* Colors as rgb values */

$colorText:     48, 48, 48;
$colorTextOpp:  232,232,232;
$colorBGMain:   248,248,248;
$colorBGAlt:    204,204,204;
$colorBGOpp:     18, 18, 18;
$colorBGOppAlt:  48, 48, 48;

$colorThemeHi:   81, 94,255;
$colorThemeMd:   52, 60,163;
$colorThemeLo:   41, 47,127;

$colorAltHi:    255, 63, 71;
$colorAltMd:    173, 43, 48;
$colorAltLo:    127, 32, 35;

$colorLinkHi:   32,204,124;
$colorLinkMd:   18,115, 70;
$colorLinkLo:   10, 64, 39;


/* Media Query values - Mobile First */

$scrSm: 680px;  /* Tablets */
$scrMd: 960px;  /* Laptops */
$scrLg: 1200px; /* Desktops */