.row {

  &--flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.col {

  &--33 {

    &Sm {
      @mixin mqSm {
        flex: 0 0 33.33%;
      }
    }

    &Md {
      @mixin mqMd {
        flex: 0 0 33.33%;
      }
    }

    &Lg {
      @mixin mqLg {
        flex: 0 0 33.33%;
      }
    }

  }

}